page-notifications {
    .shadow-card{
        margin-left: 12px!important;
        margin-right: 12px !important;
        border-radius:6px;
        ion-card-content{
            padding:1px 8px 4px 14px;
        }
        .content-item {
            background: $white !important;
            border-bottom: none !important;
            padding: 0 0 0 0;
            ion-label{
                white-space:normal;
                p{
                    font-size: 1.3rem;
                    word-wrap: break-word;
                    word-break: break-all;
                    overflow: hidden;
                }
            }
        }
    }
    .time-label{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 0px;
    }
}
