<!--
  Generated template for the InviteExpertsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>邀请专家</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="下拉刷新"
                refreshingSpinner="circles"
                refreshingText="正在加载...">
        </ion-refresher-content>
    </ion-refresher>
    <no-data-show [objs]="experts" [text]="'暂无专家！'"></no-data-show>
    <ion-list class="common-list">
        <ion-item-group *ngIf="experts&&experts.length!=0">
            <ion-item-divider>
                专家列表
                <!--<ion-icon item-right name="refresh" (click)="doRefresh()"></ion-icon>-->
            </ion-item-divider>
            <ion-item *ngFor="let expert of experts" (click)="expertInfo(expert)">
                <ion-avatar item-start>
                    <img src="{{imgUrl}}/upload/face//designer/{{expert.portraitUrl}}" onerror="this.src='assets/imgs/avatar.png'">
                </ion-avatar>
                <h4>{{expert.customerName}}</h4>
            </ion-item>
        </ion-item-group>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
