<!--
  Generated template for the ResetPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>重置密码</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="formGroup">
    <ion-list class="form-list">
      <ion-item-group>
        <ion-item-divider>基本信息</ion-item-divider>
        <ion-item>
          <ion-label>手机</ion-label>
          <ion-input type="text" formControlName="mobile" placeholder="请输入绑定手机号" maxlength="16"></ion-input>
          <div *ngIf="formGroup.controls['mobile'].invalid && formGroup.controls['mobile'].dirty"
               class="error-tip" item-content>{{ formGroup.controls['mobile'].errors|errorMessage}}
          </div>
        </ion-item>
        <ion-item>
          <ion-input type="text" formControlName="smsCode" placeholder="请输入手机验证码" maxlength="16"></ion-input>
          <button ion-button item-right (click)="getVerificationCode()" [disabled]="time!=0">{{message}}</button>
          <div *ngIf="formGroup.controls['smsCode'].invalid && formGroup.controls['smsCode'].dirty"
               class="error-tip" item-content>{{ formGroup.controls['smsCode'].errors|errorMessage}}
          </div>
        </ion-item>
        <ion-item>
          <ion-label>新密码</ion-label>
          <ion-input type="password" formControlName="newPassword" placeholder="请输入新密码" maxlength="16"></ion-input>
          <div *ngIf="formGroup.controls['newPassword'].invalid && formGroup.controls['newPassword'].dirty"
               class="error-tip" item-content>{{ formGroup.controls['newPassword'].errors|errorMessage}}
          </div>
        </ion-item><ion-item>
        <ion-label>确认密码</ion-label>
        <ion-input type="password" formControlName="rePassword" placeholder="请输入确认密码" maxlength="16"></ion-input>
        <div *ngIf="formGroup.controls['rePassword'].invalid && formGroup.controls['rePassword'].dirty"
             class="error-tip" item-content>{{ formGroup.controls['rePassword'].errors|errorMessage}}
        </div>
      </ion-item>

      </ion-item-group>
    </ion-list>
  </form>
  <p style="text-align: center;margin: 0 1rem">
    <button ion-button clear class="block-button" [disabled]="!formGroup.valid&&!submitted" block (click)="onSubmit()">
      提交
    </button>
  </p>
</ion-content>
