<!--
  Generated template for the ExpertSkillPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>技能鉴定</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="下拉刷新"
            refreshingSpinner="circles"
            refreshingText="正在加载...">
    </ion-refresher-content>
  </ion-refresher>
  <!--<ion-card *ngFor="let customerSkillLevel of customerSkillLevels" class="common-card demand-card">-->
    <!--<ion-card-content (click)="openSkillLevelDetail(customerSkillLevel.dslId)">-->
      <!--<ion-item class="content-item">-->
        <!--<h3>{{customerSkillLevel?.skillLevel.levelName}}</h3>-->
        <!--<p>{{customerSkillLevel?.skillLevel?.skillName}}</p>-->
      <!--</ion-item>-->
    <!--</ion-card-content>-->
  <!--</ion-card>-->
  <no-data-show [objs]="customerSkillLevels" [text]="'暂无技能鉴定！'"></no-data-show>
  <ion-card *ngFor="let customerSkillLevel of customerSkillLevels" class="common-card demand-card">
    <ion-card-content (click)="openSkillLevelDetail(customerSkillLevel.dslId)">
      <ion-item class="content-item">
        <h3>{{customerSkillLevel?.skillLevel.levelName}}</h3>
        <p>{{customerSkillLevel?.skillLevel?.skillName}}</p>
        <!--<p class="large-price">￥{{bid.demand.budgetPrice}}-->
        <!--</p>-->
      </ion-item>
    </ion-card-content>
    <ion-row>
      <ion-col col-9 class="title">
        {{customerSkillLevel?.customer?.customerName}}
      </ion-col>
      <ion-col col-3>
        <p>{{customerSkillLevel?.skillLevelState|translate}}</p>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
